$font-family-Open: "Open Sans", "sans-serif";
$font-family-Source: "Source Sans Pro", "sans-serif";
$color-grey: #666666;
$color-orange: #ff7200;
$color-white: #fff;

body {
   background-color: $color-white;
   font-family: $font-family-Open;
}

.container {
   margin: 0 auto;
   width: 1200px;
   height: 72px;
   outline: 1px solid #ff0000;
}

.clear {
   clear: both;
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

// ===================== HRADER =======================

header {
   margin: 0 auto;
}

#main-slider {
   position: relative;
   border-top: 3px solid $color-orange;
   border-bottom: 3px solid $color-orange;
   .item {
      // margin-bottom: -2px;
      img {
         width: 100%;
         display: none;
         &.active-slide {
            display: block;
         }
      }
   }
   

   .left-control-slider, .right-control-slider {
      position: absolute;
      top: 375px;
      width: 44px;
      height: 109px;
      background-repeat: no-repeat;
      transition: background-image 0.7s;
   }
   .right-control-slider {
      right: 20px;
      background-image: url(../images/right-control.png);
      &:hover {
         background-image: url(../images/right-control-hover.png);
      }
   }
   .left-control-slider {
      left: 20px;
      background-image: url(../images/left-control.png);
      &:hover {
         background-image: url(../images/left-control-hover.png);
      }
   }

   .slider-caption {
      position: absolute;
      top: 367px;
      width: 100%;
      text-align: center;
      h2 {
         font-size: 72px;
         font-family: $font-family-Open;
         color: $color-white;
         margin-bottom: 24px;
      }
      ul {
         margin: 24px 0 58px;
      }
      li {
         display: inline-block;
         color: $color-white;
         font-family: $font-family-Open;
         font-weight: 600;
         font-size: 20px;
      }
      #btn-more {
         font-size: 14px;
         font-family: $font-family-Open;
         color: $color-white;
         text-decoration: none;
         border: 1px solid $color-white;
         padding: 23px 36px;
         &:hover {
            background-color: #000000;
            opacity: 0.5;
            color: $color-orange;
            
         } 
      }
      .active-slide {
         color: $color-orange;
      }
   }
} //#main-slider

.menu {
   position: absolute;
   width: 100%;
   top: 36px;

   .left-menu,
   .right-menu {
      float: left;
      outline: 1px solid #00ff00;

      >li {
         float: left;
         padding: 15px 0;

         >a {
            color: $color-white;
            text-decoration: none;
            font-family: $font-family-Open;
            font-size: 14px;
            font-weight: bold;
            display: block;
            padding: 14px 18px;

            &:hover {
               border-radius: 4px;
               background-color: #343434;
               color: #F56F03;
            }
         }
      }
   }

   .left-menu {
      margin-left: 45px;
   }

   .toggle-submenu {
      position: relative;
   }

   .submenu-1,
   .submenu-2 {
      position: absolute;
      top: 72px;
      width: 254px;
      border-radius: 4px;
      background-color: #343434;
      display: none;

      >li:last-child a {
         padding-bottom: 20px;
      }

      a {
         color: #BBBBBB;
         text-decoration: none;
         font-family: $font-family-Open;
         font-size: 14px;
         padding: 24px 20px 0;
         display: block;

         &:hover {
            color: $color-white;
         }

         span {
            padding-right: 8px;
            color: $color-white;
         }
      }

      .toggle-submenu >a {
         background-image: url(../images/caret.png);
         background-repeat: no-repeat;
         background-position: 236px 26px;
      }
   }

   .submenu-2 {
      left: 254px;                                                         
      top: 0;
   }

   .logo {
      width: 168px;
      height: 70px;
      float: left;
      border: 1px solid $color-white;
      text-align: center;
      color: $color-white;
      margin: 0 15px;
      cursor: pointer;

      h1 {
         font-family: $font-family-Source;
         font-size: 50px;
         margin: 0;
         text-transform: lowercase;
         line-height: 44px;
      }

      h2 {
         font-size: 11px;
         padding-top: 3px;
      }
   }
} //.menu