body {
  background-color: #fff;
  font-family: "Open Sans", "sans-serif"; }

.container {
  margin: 0 auto;
  outline: 1px solid #ff0000;
  min-width: 320px;
  height: auto;
  padding: 0 15px; }

@media (min-width: 1321px) {
  .container {
    max-width: 1170px; } }
@media (max-width: 1320px) {
  .container {
    max-width: 1090px; } }
@media (max-width: 1200px) {
  .container {
    max-width: 940px; } }
@media (max-width: 992px) {
  .container {
    max-width: 714px; } }
@media (max-width: 768px) {
  .container {
    max-width: none; } }
.container:after {
  display: table;
  content: " ";
  clear: both; }

.clear {
  clear: both; }

header {
  padding-bottom: 23px;
  background-image: url(../images/bottom-border-header.png);
  background-repeat: repeat-x;
  background-position: 0 bottom; }

#main-slider {
  position: relative;
  border-top: 3px solid #ff7200;
  border-bottom: 3px solid #ff7200; }
  #main-slider .item > img {
    width: 100%;
    display: none; }
    #main-slider .item > img.active-slide {
      display: block;
      max-height: 900px; }
  #main-slider .left-control-slider,
  #main-slider .right-control-slider {
    position: absolute;
    top: 375px;
    width: 44px;
    height: 109px;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.7s;
    transition: background-image 0.7s; }
  #main-slider .right-control-slider {
    right: 20px;
    background-image: url(../images/right-control.png); }
    #main-slider .right-control-slider:hover {
      background-image: url(../images/right-control-hover.png); }
  #main-slider .left-control-slider {
    left: 20px;
    background-image: url(../images/left-control.png); }
    #main-slider .left-control-slider:hover {
      background-image: url(../images/left-control-hover.png); }
  #main-slider .slider-caption {
    position: absolute;
    top: 367px;
    width: 100%;
    text-align: center; }
    #main-slider .slider-caption h2 {
      font-size: 72px;
      font-family: "Open Sans", "sans-serif";
      color: #fff; }
    #main-slider .slider-caption ul {
      margin: 24px 0 58px; }
    #main-slider .slider-caption li {
      display: inline-block;
      color: #fff;
      font-family: "Open Sans", "sans-serif";
      font-weight: 600;
      font-size: 20px; }
    #main-slider .slider-caption #btn-more {
      font-size: 14px;
      font-family: "Open Sans", "sans-serif";
      color: #fff;
      text-decoration: none;
      border: 1px solid #fff;
      padding: 23px 36px; }
      #main-slider .slider-caption #btn-more:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: #ff7200; }
    #main-slider .slider-caption .active-slide {
      color: #ff7200; }

.menu {
  position: absolute;
  width: 100%;
  top: 36px; }
  .menu .bar-toggle {
    display: none; }
  .menu .btn-close {
    display: none; }
  .menu .left-menu,
  .menu .right-menu {
    float: left;
    outline: 1px solid #00ff00; }
    .menu .left-menu > li,
    .menu .right-menu > li {
      float: left;
      padding: 15px 0; }
      .menu .left-menu > li > a,
      .menu .right-menu > li > a {
        color: #fff;
        text-decoration: none;
        font-family: "Open Sans", "sans-serif";
        font-size: 14px;
        font-weight: bold;
        display: block;
        padding: 14px 18px; }
        .menu .left-menu > li > a:hover,
        .menu .right-menu > li > a:hover {
          border-radius: 4px;
          background-color: #343434;
          color: #F56F03; }
  .menu .left-menu {
    margin-left: 30px; }
  .menu .toggle-submenu {
    position: relative; }
  .menu .submenu-1,
  .menu .submenu-2 {
    position: absolute;
    top: 72px;
    width: 254px;
    border-radius: 4px;
    background-color: #343434;
    display: none;
    z-index: 100; }
    .menu .submenu-1 > li:last-child a,
    .menu .submenu-2 > li:last-child a {
      padding-bottom: 20px; }
    .menu .submenu-1 a,
    .menu .submenu-2 a {
      color: #BBBBBB;
      text-decoration: none;
      font-family: "Open Sans", "sans-serif";
      font-size: 14px;
      padding: 24px 20px 0;
      display: block; }
      .menu .submenu-1 a:hover,
      .menu .submenu-2 a:hover {
        color: #fff; }
      .menu .submenu-1 a span,
      .menu .submenu-2 a span {
        padding-right: 8px;
        color: #fff; }
    .menu .submenu-1 .toggle-submenu > a,
    .menu .submenu-2 .toggle-submenu > a {
      background-image: url(../images/caret.png);
      background-repeat: no-repeat;
      background-position: 236px 26px; }
  .menu .submenu-2 {
    left: 254px;
    top: 0; }
  .menu .logo {
    width: 168px;
    height: 70px;
    float: left;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    margin: 0 15px;
    cursor: pointer; }
    .menu .logo h1 {
      font-family: "Source Sans Pro", "sans-serif";
      font-size: 50px;
      margin: 0;
      text-transform: lowercase;
      line-height: 44px; }
    .menu .logo h2 {
      font-size: 11px;
      padding-top: 3px; }

#second-menu {
  position: relative;
  top: 15px; }
  #second-menu .left-menu > li > a,
  #second-menu .right-menu > li > a {
    color: #343434; }
    #second-menu .left-menu > li > a:hover,
    #second-menu .right-menu > li > a:hover {
      color: #F56F03; }
  #second-menu .logo {
    width: 132px;
    height: 54px;
    border: 1px solid #343434;
    color: #343434;
    margin: 5px 33px; }
    #second-menu .logo h1 {
      font-size: 39px;
      margin: 0;
      line-height: 32px; }
    #second-menu .logo h2 {
      font-size: 9px;
      font-weight: bold;
      letter-spacing: -0.5px;
      padding-top: 2px; }

@media (max-width: 1320px) {
  .menu .left-menu > li > a,
  .menu .right-menu > li > a {
    padding: 14px 13px; }
  .menu .submenu-2 {
    left: 230px; }
  .menu .submenu-1,
  .menu .submenu-2 {
    width: 230px; }
    .menu .submenu-1 a,
    .menu .submenu-2 a {
      padding: 18px 16px 0; }
    .menu .submenu-1 .toggle-submenu > a,
    .menu .submenu-2 .toggle-submenu > a {
      background-position: 212px 20px; }

  #main-slider .slider-caption {
    top: 320px; }
  #main-slider .left-control-slider,
  #main-slider .right-control-slider {
    top: 330px; } }
@media (max-width: 1200px) {
  .menu {
    top: 20px; }
    .menu .left-menu > li,
    .menu .right-menu > li {
      padding: 10px 0; }
      .menu .left-menu > li > a,
      .menu .right-menu > li > a {
        padding: 14px 11px;
        font-size: 13px; }
    .menu .left-menu {
      margin-left: 5px; }
    .menu .logo {
      width: 150px;
      height: 58px;
      margin: 0px 12px; }
      .menu .logo h1 {
        line-height: 36px; }
    .menu .submenu-1 {
      top: 62px;
      width: 208px; }
    .menu .submenu-2 {
      left: 208px;
      width: 190px; }
    .menu .submenu-1 a,
    .menu .submenu-2 a {
      font-size: 13px; }
    .menu .submenu-1 .toggle-submenu > a,
    .menu .submenu-2 .toggle-submenu > a {
      background-position: 192px 20px; }

  #second-menu .logo {
    margin: 0px 21px; }

  #main-slider .slider-caption {
    top: 262px; }
    #main-slider .slider-caption h2 {
      font-size: 64px; }
    #main-slider .slider-caption ul {
      margin: 16px 0 54px; }
    #main-slider .slider-caption #btn-more {
      font-size: 13px;
      padding: 16px 25px; }
  #main-slider .left-control-slider,
  #main-slider .right-control-slider {
    top: 285px;
    width: 33px;
    height: 84px;
    background-size: cover; } }
@media (max-width: 992px) {
  header {
    padding-bottom: 0px; }

  .menu {
    top: 0;
    background-color: #666666; }
    .menu .container {
      min-width: 0; }
    .menu .left-menu,
    .menu .right-menu {
      position: absolute;
      top: 0;
      width: 250px;
      left: -250px;
      background-color: #666666;
      z-index: 100;
      float: none; }
      .menu .left-menu > li,
      .menu .right-menu > li {
        float: none;
        padding: 0; }
        .menu .left-menu > li > a,
        .menu .right-menu > li > a {
          font-size: 13px;
          padding: 16px 14px; }
      .menu .left-menu .toggle-submenu > a,
      .menu .right-menu .toggle-submenu > a {
        background-image: url(../images/caret.png);
        background-repeat: no-repeat;
        background-position: 225px 18px; }
    .menu .left-menu {
      margin-left: 0px; }
    .menu .submenu-1,
    .menu .submenu-2 {
      position: static;
      width: 100%;
      border-radius: 0; }
      .menu .submenu-1 a,
      .menu .submenu-2 a {
        font-size: 13px;
        padding: 18px 10px 0 14px; }
        .menu .submenu-1 a span,
        .menu .submenu-2 a span {
          padding-right: 8px; }
      .menu .submenu-1 .toggle-submenu > a,
      .menu .submenu-2 .toggle-submenu > a {
        background-position: 225px 18px; }
    .menu .submenu-2 > li:last-child a {
      padding-bottom: 0px; }
    .menu .submenu-2 a {
      padding: 18px 10px 0 30px; }
    .menu .btn-close {
      display: block;
      position: absolute;
      top: 3px;
      left: -32px;
      z-index: 101;
      cursor: pointer;
      background: none;
      border: none;
      color: #fff;
      font-size: 24px; }
    .menu .bar-toggle {
      display: block;
      float: left;
      color: #fff;
      font-size: 30px;
      border: none;
      background: none;
      padding: 9px;
      cursor: pointer; }
    .menu .logo {
      float: right;
      margin-right: 10px;
      height: 50px;
      width: 120px; }
      .menu .logo h1 {
        font-size: 46px;
        line-height: 30px; }

  #second-menu {
    display: none; }

  #main-slider .slider-caption {
    top: 228px; }
    #main-slider .slider-caption h2 {
      font-size: 55px; }
    #main-slider .slider-caption ul {
      margin: 13px 0 45px; }
    #main-slider .slider-caption li {
      font-size: 17px; }
    #main-slider .slider-caption #btn-more {
      font-size: 12px;
      padding: 12px 19px; }
  #main-slider .left-control-slider,
  #main-slider .right-control-slider {
    top: 228px;
    width: 33px;
    height: 84px; }
  #main-slider .right-control-slider {
    right: 10px; }
  #main-slider .left-control-slider {
    left: 10px; } }
@media (max-width: 768px) {
  #main-slider .slider-caption {
    top: 166px; }
    #main-slider .slider-caption h2 {
      font-size: 53px; }
    #main-slider .slider-caption ul {
      margin: 10px 0 24px; }
    #main-slider .slider-caption li {
      font-size: 15px; }
    #main-slider .slider-caption #btn-more {
      font-size: 12px;
      padding: 8px 10px; }
  #main-slider .left-control-slider,
  #main-slider .right-control-slider {
    top: 180px;
    width: 20px;
    height: 52px; }
  #main-slider .right-control-slider {
    right: 5px; }
  #main-slider .left-control-slider {
    left: 5px; } }
@media (max-width: 500px) {
  .menu .bar-toggle {
    font-size: 28px;
    padding: 7px; }
  .menu .logo {
    height: 44px; }
    .menu .logo h1 {
      font-size: 40px;
      line-height: 25px; }

  #main-slider .slider-caption {
    top: 96px; }
    #main-slider .slider-caption h2 {
      font-size: 38px; }
    #main-slider .slider-caption ul {
      margin: 2px 0 15px; }
    #main-slider .slider-caption li {
      font-size: 12px; }
    #main-slider .slider-caption #btn-more {
      font-size: 12px;
      padding: 4px 7px; }
  #main-slider .left-control-slider,
  #main-slider .right-control-slider {
    top: 100px;
    width: 20px;
    height: 52px; } }
main h3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background-image: url(../images/h3-line-grey.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 17px; }
main .under-h3 {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  line-height: 20px; }
main h4 {
  font-weight: 600;
  font-size: 20px; }

#about-us {
  color: #666666; }
  #about-us h3 {
    margin: 112px 0 19px; }
  #about-us section {
    float: left; }

#about-caption {
  width: 48%;
  margin: 76px 0 124px; }
  #about-caption p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 22px;
    line-height: 22px; }
  #about-caption h4 {
    margin-bottom: 22px; }
  #about-caption .btn-meet,
  #about-caption .btn-contact {
    width: 156px;
    height: 46px;
    border: 1px solid #ff7200;
    display: block;
    float: left;
    border-radius: 2px;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
    background-color: #ff7200;
    color: #fff;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    #about-caption .btn-meet:hover,
    #about-caption .btn-contact:hover {
      color: #ff7200;
      background-color: rgba(0, 0, 0, 0); }
  #about-caption .btn-meet {
    margin-right: 30px; }

#slider-about {
  width: 48%;
  position: relative;
  margin: 76px 30px 106px 0;
  background-image: url(../images/shadow-slider.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 18px;
  background-position: 0 bottom; }
  #slider-about img {
    width: 100%;
    display: none; }
    #slider-about img.active-slide {
      display: block; }
  #slider-about .left-control-slider,
  #slider-about .right-control-slider {
    position: absolute;
    top: 148px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.7s;
    transition: background-image 0.7s;
    background-size: contain; }
  #slider-about .right-control-slider {
    right: 20px;
    background-image: url(../images/right-control-about.png); }
    #slider-about .right-control-slider:hover {
      background-image: url(../images/right-control-hover-about.jpg); }
  #slider-about .left-control-slider {
    left: 20px;
    background-image: url(../images/left-control-about.png); }
    #slider-about .left-control-slider:hover {
      background-image: url(../images/left-control-hover-about.jpg); }

@media (max-width: 1320px) {
  #about-caption {
    width: 49%;
    margin: 70px 0 110px; }
    #about-caption p {
      margin-bottom: 18px;
      line-height: 20px; }
    #about-caption h4 {
      margin-bottom: 20px; }

  #slider-about {
    padding-bottom: 17px;
    margin: 70px 30px 110px 0; }
    #slider-about .left-control-slider,
    #slider-about .right-control-slider {
      top: 135px; }

  #about-us h3 {
    margin: 100px 0 16px; } }
@media (max-width: 1200px) {
  #about-caption {
    width: 51%;
    margin: 60px 0 80px; }
    #about-caption p {
      line-height: 18px; }
    #about-caption h4 {
      margin-bottom: 18px; }

  #slider-about {
    width: 46%;
    margin: 60px 20px 80px 0;
    padding-bottom: 14px; }
    #slider-about .left-control-slider,
    #slider-about .right-control-slider {
      top: 106px;
      width: 44px;
      height: 44px; }

  #about-us h3 {
    margin: 90px 0 14px;
    padding-bottom: 14px; }
  #about-us .under-h3 {
    width: 60%; } }
@media (max-width: 992px) {
  #slider-about {
    width: 70%;
    margin: 30px auto;
    padding-bottom: 16px; }
    #slider-about .left-control-slider,
    #slider-about .right-control-slider {
      top: 129px;
      width: 48px;
      height: 48px; }

  #about-us section {
    float: none; }
  #about-us .under-h3 {
    width: 80%; }
  #about-us h3 {
    margin: 70px 0 14px; }

  #about-caption {
    width: 100%;
    margin: 15px 10px 120px; } }
@media (max-width: 768px) {
  main h3 {
    font-size: 34px;
    line-height: 34px; }
  main .under-h3 {
    line-height: 18px; }

  #about-us h3 {
    margin: 50px 0 14px; }
  #about-us .under-h3 {
    width: 90%; }

  #slider-about {
    width: 454px;
    padding-bottom: 14px; }
    #slider-about .right-control-slider,
    #slider-about .left-control-slider {
      top: 117px;
      width: 44px;
      height: 44px; }

  #about-caption {
    margin: 15px 10px 110px; }
    #about-caption .btn-meet, #about-caption .btn-contact {
      width: 46%; }
    #about-caption .btn-meet {
      margin-right: 20px; } }
@media (max-width: 500px) {
  #slider-about {
    width: 354px;
    padding-bottom: 11px;
    margin: 20px auto; }
    #slider-about .right-control-slider,
    #slider-about .left-control-slider {
      top: 86px;
      width: 40px;
      height: 40px; }

  #about-us .under-h3 {
    width: 100%; }

  #about-caption {
    margin: 15px 10px 150px; }
    #about-caption .btn-meet, #about-caption .btn-contact {
      width: 96%;
      margin-bottom: 10px; } }
#we-are {
  color: #fff;
  padding: 1px 0 15px;
  background-image: url(../images/bg-we-are.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  #we-are h3 {
    margin: 100px 0 19px;
    background-image: url(../images/h3-line-white.png); }
  #we-are .under-h3 {
    margin-bottom: 76px; }
  #we-are h4 {
    font-size: 18px;
    padding-left: 98px; }
  #we-are section {
    width: 33%;
    float: left;
    position: relative; }
    #we-are section p {
      padding: 20px 0 77px 99px;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px; }
    #we-are section img {
      position: absolute;
      left: 29px;
      top: 0; }
  #we-are .col-2 {
    display: none; }

@media (max-width: 1200px) {
  #we-are h3 {
    margin: 90px 0 14px; }
  #we-are .under-h3 {
    margin-bottom: 70px;
    width: 60%; }
  #we-are section p {
    padding: 12px 0 50px 86px; }
  #we-are h4 {
    padding-left: 86px; } }
@media (max-width: 992px) {
  #we-are {
    padding: 1px 0 0; }
    #we-are .col-3 {
      display: none; }
    #we-are section {
      width: 50%; }
    #we-are .col-2 {
      display: block; }
    #we-are h3 {
      margin: 70px 0 14px; }
    #we-are .under-h3 {
      margin-bottom: 60px;
      width: 80%; } }
@media (max-width: 768px) {
  #we-are section {
    width: 100%; }
    #we-are section img {
      left: 10px; }
    #we-are section p {
      padding: 8px 0 40px 65px; }
    #we-are section h4 {
      padding-left: 65px; }
  #we-are h3 {
    margin: 60px 0 14px; } }
#we-are-a-team {
  color: #666666; }
  #we-are-a-team h3 {
    margin: 93px 0 19px; }
  #we-are-a-team .under-h3 {
    margin-bottom: 75px; }
  #we-are-a-team .col-2 {
    display: none; }
  #we-are-a-team section {
    width: 23%;
    float: left;
    margin-right: 30px; }
    #we-are-a-team section img {
      width: 100%; }
    #we-are-a-team section p {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px; }
      #we-are-a-team section p span {
        color: #ff7200;
        font-weight: normal; }
    #we-are-a-team section .name-member {
      text-align: center;
      margin: 24px 0 9px; }
  #we-are-a-team .social-contacts {
    margin-top: 10px; }
    #we-are-a-team .social-contacts li {
      float: left;
      margin-right: 9px; }
    #we-are-a-team .social-contacts a {
      display: block;
      width: 44px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      background-color: #F0F0F0;
      border-radius: 44px;
      font-size: 18px;
      color: #666666; }
      #we-are-a-team .social-contacts a:hover {
        background-color: #ff7200;
        color: #fff; }
  #we-are-a-team section:last-child {
    margin-right: 0; }

@media (max-width: 1320px) {
  #we-are-a-team section {
    margin-right: 25px; }
    #we-are-a-team section p {
      font-size: 14px;
      line-height: 20px; }
  #we-are-a-team .social-contacts a {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 42px; }
  #we-are-a-team .social-contacts li {
    margin-right: 8px; } }
@media (max-width: 1200px) {
  #we-are-a-team .social-contacts a {
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 38px; }
  #we-are-a-team .social-contacts li {
    margin-right: 5px; }
  #we-are-a-team h3 {
    margin: 90px 0 14px; }
  #we-are-a-team .under-h3 {
    margin-bottom: 60px;
    width: 70%; } }
@media (max-width: 992px) {
  #we-are-a-team section {
    width: 40%;
    margin: 0 35px 35px; }
    #we-are-a-team section .name-member {
      margin: 20px 0 9px; }
  #we-are-a-team h3 {
    margin: 70px 0 14px; }
  #we-are-a-team .under-h3 {
    margin-bottom: 50px;
    width: 80%; }
  #we-are-a-team .social-contacts a {
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 44px; }
  #we-are-a-team .social-contacts li {
    margin-right: 9px; } }
@media (max-width: 768px) {
  #we-are-a-team section {
    margin: 0 5% 5%; }
  #we-are-a-team .social-contacts li {
    margin-bottom: 9px; }
  #we-are-a-team .under-h3 {
    margin-bottom: 45px;
    width: 91%; }
  #we-are-a-team .col-2 {
    display: block; } }
@media (max-width: 500px) {
  #we-are-a-team section {
    width: 260px;
    margin: 0 auto;
    float: none; }
  #we-are-a-team section:last-child {
    margin-right: auto; }
  #we-are-a-team .social-contacts li {
    margin-right: 7px;
    margin-bottom: 40px; } }
#see-work {
  color: #666666; }
  #see-work .container {
    width: 100%;
    max-width: 100%;
    padding: 0; }
  #see-work h3 {
    margin: 96px 0 17px; }
  #see-work .under-h3 {
    margin-bottom: 94px; }

#portfolio figure {
  float: left;
  width: 25%;
  margin: 0 0 -2px;
  position: relative; }
  #portfolio figure figcaption {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #F0F0F0;
    text-align: center;
    font-style: "Open Sans", "sans-serif";
    font-weight: 300;
    font-size: 20px;
    color: #363636;
    padding: 5% 0;
    line-height: 125%; }
    #portfolio figure figcaption span {
      color: #666666;
      font-size: 14px;
      padding-top: 2%; }
  #portfolio figure .btn-group {
    display: none;
    position: absolute;
    top: 21%;
    width: 100%;
    text-align: center;
    font-size: 20px; }
    #portfolio figure .btn-group .btn-zoom, #portfolio figure .btn-group .btn-link {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      cursor: pointer;
      background-color: #F0F0F0;
      border: none;
      color: #ff7200; }
      #portfolio figure .btn-group .btn-zoom:hover, #portfolio figure .btn-group .btn-link:hover {
        color: #f0f0f0;
        border: 2px solid #f0f0f0;
        background-color: rgba(0, 0, 0, 0); }
    #portfolio figure .btn-group .btn-zoom {
      margin-right: 8%; }
#portfolio img {
  width: 100%; }
  #portfolio img:hover {
    opacity: 0.6; }

@media (max-width: 1320px) {
  #portfolio figure figcaption {
    padding: 4% 0;
    line-height: 110%; } }
@media (max-width: 1200px) {
  #see-work h3 {
    margin: 90px 0 14px; }
  #see-work .under-h3 {
    margin-bottom: 60px;
    width: 70%; }

  #portfolio figure figcaption {
    font-size: 19px;
    padding: 4% 0;
    line-height: 110%; }
    #portfolio figure figcaption span {
      font-size: 13px; }
  #portfolio figure .btn-group .btn-zoom, #portfolio figure .btn-group .btn-link {
    width: 50px;
    height: 50px;
    border-radius: 50px; }
  #portfolio figure .btn-group .btn-zoom {
    margin-right: 6%; } }
@media (max-width: 992px) {
  #see-work h3 {
    margin: 50px 0 14px; }
  #see-work .under-h3 {
    margin-bottom: 50px; }

  #portfolio figure {
    width: 33.33%; } }
@media (max-width: 768px) {
  #see-work h3 {
    margin: 40px 0 14px; }
  #see-work .under-h3 {
    margin-bottom: 45px; }

  #portfolio figure {
    width: 50%; }
    #portfolio figure .btn-group {
      top: 24%; } }
@media (max-width: 500px) {
  #see-work .under-h3 {
    width: 90%; }

  #portfolio figure {
    width: 100%; }
    #portfolio figure .btn-group .btn-zoom, #portfolio figure .btn-group .btn-link {
      width: 60px;
      height: 60px;
      border-radius: 60px; }
    #portfolio figure .btn-group .btn-zoom {
      margin-right: 8%; }
    #portfolio figure figcaption {
      font-size: 20px;
      padding: 5% 0;
      line-height: 125%; } }
#buy-oxxo {
  margin-bottom: 99px;
  color: #666666; }
  #buy-oxxo h3 {
    margin: 96px 0 63px; }
  #buy-oxxo .under-h3 {
    font-weight: 400;
    font-size: 20px;
    width: 70%;
    margin-bottom: 35px; }
    #buy-oxxo .under-h3 span {
      color: #ff7200; }
  #buy-oxxo .btn-group {
    text-align: center; }
  #buy-oxxo .btn-buy,
  #buy-oxxo .btn-contact {
    font-size: 15px;
    width: 158px;
    height: 48px;
    border: 1px solid #ff7200;
    border-radius: 2px;
    line-height: 48px;
    background-color: #ff7200;
    color: #fff;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    #buy-oxxo .btn-buy i,
    #buy-oxxo .btn-contact i {
      margin-right: 6px; }
    #buy-oxxo .btn-buy:hover,
    #buy-oxxo .btn-contact:hover {
      color: #ff7200;
      background-color: rgba(0, 0, 0, 0); }
  #buy-oxxo .btn-buy {
    margin-right: 30px; }

@media (max-width: 1200px) {
  #buy-oxxo .under-h3 {
    width: 80%; } }
@media (max-width: 992px) {
  #buy-oxxo {
    margin-bottom: 80px; }
    #buy-oxxo .under-h3 {
      font-size: 18px;
      width: 100%; }
    #buy-oxxo h3 {
      margin: 80px 0 17px; } }
@media (max-width: 768px) {
  #buy-oxxo .under-h3 {
    font-size: 17px; }
  #buy-oxxo .btn-buy, #buy-oxxo .btn-contact {
    font-size: 15px;
    width: 46%;
    height: 46px;
    border-radius: 2px;
    line-height: 46px; }
  #buy-oxxo .btn-buy {
    margin-right: 20px; } }
@media (max-width: 500px) {
  #buy-oxxo {
    margin-bottom: 60px; }
    #buy-oxxo h3 {
      margin: 60px 0 17px; }
    #buy-oxxo .under-h3 {
      font-size: 15px;
      margin-bottom: 25px; }
    #buy-oxxo .btn-buy {
      margin-right: 0px;
      margin-bottom: 15px; }
    #buy-oxxo .btn-buy, #buy-oxxo .btn-contact {
      width: 100%; } }
#clients-say {
  background-image: url(../images/bg-clients-say.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f0f0f0; }
  #clients-say h3 {
    margin: 0px 0 76px;
    padding-top: 96px;
    background-image: url(../images/h3-line-white.png); }
  #clients-say .btn-group {
    text-align: center;
    margin-bottom: 100px; }
  #clients-say .left-control-slider,
  #clients-say .right-control-slider {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.7s;
    transition: background-image 0.7s;
    background-size: contain; }
  #clients-say .right-control-slider {
    background-image: url(../images/right-control-about.png); }
    #clients-say .right-control-slider:hover {
      background-image: url(../images/right-control-hover-about.jpg); }
  #clients-say .left-control-slider {
    background-image: url(../images/left-control-about.png);
    margin-right: 26px; }
    #clients-say .left-control-slider:hover {
      background-image: url(../images/left-control-hover-about.jpg); }
  #clients-say section {
    text-align: center;
    display: none; }
    #clients-say section.active-slide {
      display: block; }
    #clients-say section h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 26px;
      text-transform: uppercase; }
    #clients-say section .comment {
      width: 60%;
      font-size: 16px;
      margin: 0 auto;
      line-height: 23px; }
    #clients-say section .client-name {
      font-size: 16px;
      font-weight: 600;
      margin: 36px 0 40px; }
      #clients-say section .client-name span {
        color: #ff7200;
        font-weight: 400; }

@media (max-width: 1200px) {
  #clients-say h3 {
    padding-top: 90px; }
  #clients-say section .comment {
    width: 70%; }
  #clients-say .btn-group {
    margin-bottom: 90px; } }
@media (max-width: 992px) {
  #clients-say h3 {
    padding-top: 80px;
    margin: 0px 0 70px; }
  #clients-say section .comment {
    width: 100%; }
  #clients-say .btn-group {
    margin-bottom: 80px; } }
@media (max-width: 768px) {
  #clients-say h3 {
    padding-top: 70px;
    margin: 0px 0 60px; }
  #clients-say .btn-group {
    margin-bottom: 70px; } }
@media (max-width: 500px) {
  #clients-say h3 {
    padding-top: 60px;
    margin: 0px 0 50px; }
  #clients-say section h4 {
    margin-bottom: 20px; }
  #clients-say section .comment {
    font-size: 15px;
    line-height: 20px; }
  #clients-say section .client-name {
    margin: 20px 0 30px; }
  #clients-say .btn-group {
    margin-bottom: 55px; } }
#slider-clients {
  margin-bottom: 99px;
  background-color: #ff7200; }
  #slider-clients .left-control-slider,
  #slider-clients .right-control-slider {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.7s;
    transition: background-image 0.7s;
    background-size: contain;
    margin: 56px 68px; }
    #slider-clients .left-control-slider.hiden,
    #slider-clients .right-control-slider.hiden {
      opacity: 0.3; }
    #slider-clients .left-control-slider.active,
    #slider-clients .right-control-slider.active {
      opacity: 1; }
  #slider-clients .right-control-slider {
    background-image: url(../images/right-control-about.png); }
    #slider-clients .right-control-slider:not(.hiden):hover {
      background-image: url(../images/right-control-hover-about.jpg); }
  #slider-clients .left-control-slider {
    background-image: url(../images/left-control-about.png); }
    #slider-clients .left-control-slider:not(.hiden):hover {
      background-image: url(../images/left-control-hover-about.jpg); }
  #slider-clients li {
    float: left;
    position: relative;
    width: 170px;
    padding: 40px 15px 38px; }
    #slider-clients li.active {
      display: block; }
    #slider-clients li.hiden-client {
      display: none; }
    #slider-clients li img {
      width: 100%; }
  #slider-clients .wrap-caption {
    background-image: url(../images/client-note.png);
    background-repeat: no-repeat;
    background-position: center 1px;
    position: absolute;
    z-index: 100;
    top: 103px;
    padding-top: 7px;
    width: 100%;
    display: none; }
  #slider-clients .caption-company {
    background-color: #666666;
    color: #fff;
    text-align: center;
    font-weight: 300;
    border-radius: 4px;
    padding: 13px; }
    #slider-clients .caption-company h5 {
      font-size: 14px; }
    #slider-clients .caption-company p {
      font-size: 12px;
      line-height: 18px;
      margin: 8px 0 2px; }
    #slider-clients .caption-company a {
      font-size: 12px;
      color: #ff7200;
      text-decoration: none; }

@media (max-width: 1320px) {
  #slider-clients .left-control-slider,
  #slider-clients .right-control-slider {
    margin: 50px 56px; }
  #slider-clients li {
    width: 162px;
    padding-bottom: 34px; } }
@media (max-width: 1200px) {
  #slider-clients .left-control-slider,
  #slider-clients .right-control-slider {
    margin: 40px 20px; }
  #slider-clients li {
    width: 160px;
    padding: 30px 15px 20px; }
  #slider-clients .wrap-caption {
    top: 90px; } }
@media (max-width: 992px) {
  #slider-clients li.col-3 {
    display: none; }
  #slider-clients .left-control-slider,
  #slider-clients .right-control-slider {
    margin: 40px 12px; } }
@media (max-width: 768px) {
  #slider-clients {
    margin-bottom: 80px; }
    #slider-clients .container {
      max-width: 450px; }
    #slider-clients li.col-2 {
      display: none; }
    #slider-clients .left-control-slider,
    #slider-clients .right-control-slider {
      margin: 17px 0px; }
    #slider-clients li {
      width: 150px;
      padding: 10px 13px 0px; }
    #slider-clients .wrap-caption {
      top: 60px; }
    #slider-clients .caption-company {
      padding: 8px; }
      #slider-clients .caption-company p {
        line-height: 12px;
        margin: 6px 0 0px; } }
@media (max-width: 500px) {
  #slider-clients {
    margin-bottom: 60px; }
    #slider-clients .left-control-slider,
    #slider-clients .right-control-slider {
      width: 30px;
      height: 30px; }
    #slider-clients li {
      width: 129px;
      padding: 10px 5px 0px; }
    #slider-clients .container {
      max-width: 338px; } }
#responsive {
  color: #666666;
  margin-bottom: 200px; }
  #responsive section {
    float: left; }
  #responsive .under-h3 {
    margin: 16px auto 75px; }
  #responsive .img-responsive {
    width: 48.7%;
    margin-right: 30px; }
    #responsive .img-responsive img {
      width: 100%; }
  #responsive .caption-responsive {
    width: 40.1%;
    padding-left: 100px;
    font-weight: 300; }
    #responsive .caption-responsive dt {
      font-size: 18px; }
    #responsive .caption-responsive dd {
      font-size: 14px;
      position: relative;
      margin: 11px 0 53px;
      line-height: 20px; }
    #responsive .caption-responsive .fas {
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 70px;
      color: #fff;
      background-color: #ff7200;
      text-align: center;
      line-height: 70px;
      font-size: 24px;
      left: -99px;
      top: -26px; }

@media (max-width: 1320px) {
  #responsive .under-h3 {
    width: 60%; }
  #responsive .img-responsive {
    width: 48.3%; }
  #responsive .caption-responsive {
    width: 39.7%; }
    #responsive .caption-responsive dd {
      margin: 11px 0 30px;
      line-height: 18px; } }
@media (max-width: 1200px) {
  #responsive .under-h3 {
    margin: 16px auto 60px; }
  #responsive .img-responsive {
    width: 40%; }
  #responsive .caption-responsive {
    width: 45%; }
    #responsive .caption-responsive dd {
      margin: 11px 0 26px; } }
@media (max-width: 992px) {
  #responsive .under-h3 {
    width: 70%;
    margin: 16px auto 50px; }
  #responsive .img-responsive {
    width: 70%;
    margin: 0 auto;
    float: none;
    margin-bottom: 50px; }
  #responsive .caption-responsive {
    width: 88%; }
    #responsive .caption-responsive dd {
      margin: 11px 0 48px;
      line-height: 20px; } }
@media (max-width: 768px) {
  #responsive .under-h3 {
    width: 90%;
    margin: 14px auto 40px; }
  #responsive .caption-responsive {
    width: 80%;
    padding-left: 90px; }
    #responsive .caption-responsive .fas {
      left: -88px; }
    #responsive .caption-responsive dd {
      margin: 11px 0 30px;
      line-height: 18px; } }
@media (max-width: 500px) {
  #responsive .under-h3 {
    width: 100%;
    margin: 14px auto 30px; }
  #responsive .img-responsive {
    width: 80%; }
  #responsive .caption-responsive {
    padding-left: 70px; }
    #responsive .caption-responsive .fas {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      line-height: 60px;
      font-size: 22px;
      left: -70px; }
    #responsive .caption-responsive dd {
      line-height: 16px; } }
/*
-------@media for ---------
@media (max-width: 1320px) {
   
}

@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
   
}

@media (max-width: 500px) {
   
} //@media for*/
